@media screen and (min-width: 768px) and (max-width: 1023px) {
    #container {
        display: grid;
        grid-template-columns: repeat(9, 200px);
        grid-template-rows: repeat(4, 200px);
        grid-template-areas:
        "header header header header header header header header header"
        "dos dos dos . . . . . ."
        "tres . . . . . . . cuatro"
        "cinco . seis . . . siete . ocho";
        column-gap: 30px;
        row-gap: 25px;
    }
    
    #image1 {
        grid-area: header;
    }
    
    #image2 {
        grid-area: dos;
    }
    
    #image3 {
        grid-area: tres;
    }
    
    #image4 {
        grid-area: cuatro;
    }
    
    #image5 {
        grid-area: cinco;
    }
    
    #image6 {
        grid-area: seis;
    }
    
    #image7 {
        grid-area: siete;
    }
    
    #image8 {
        grid-area: ocho;
    }

    .hidden {
        display: none;
    }
}